.heading {
	text-align: center;
	font-size: 30px;
}
.container {
	background-color: #fff;
	padding: 0;
}
.contents {
	padding: 2% 4%;
}

.placard {
	width: 100%;
	background-image: url('banner.jpg');
	height: 80vh;
}

.slogan{
	margin: 35vh 0;
}

.heading-1 {
	text-align: center;
	font-size: 35px;
	color: #fff;
}

.heading-2 {
	text-align: center;
	font-size: 25px;
	color: #fff;
	font-weight: 300;
}

.site_description {
	margin: 2% 0;
	display: inline-flex;
	font-size: 25px;
	background-color: #eee;
}

.site_description .column {
	width: 50%;
	padding: 5vh 1vw;
	text-align: center;
}