* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	background-color: wheat;
}

a {
	color: #000;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 2% 2%;
	background-color: #f8f8f8;
	padding: 2% 4%;
	border-radius: 20px;
}

/* header */

.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 96%;
	z-index: 3;
	top: 0;
	margin: 0 2%;
	border-radius: 5px;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}
  
.header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
}
  
.header li a:hover,
.header .menu-btn:hover {
	background-color: #f4f4f4;
}
  
.header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
}


/* menu */  
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

/* menu icon */ 
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}
  
.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}
  

  
/* 48em = 768px */
@media (min-width: 48em) {
	.header li {
	  float: left;
	}
	.header li a {
	  padding: 20px 30px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
}

/*Films*/
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_1 {
  margin: 150px 30px;
  width: 300px;
  height: 500px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  background-color: #aaa;
}

.card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  transition-duration: 0.5s;
}


.card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
}

.card_image:hover {
	transform: scale(0.95, 0.95);
	box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.5), 
	  -3px -3px 10px 5px rgba(0,0,0,0.22);
	filter: brightness(0.5) saturate(2) contrast(3.0) blur(3px);
	transition-duration: 1.5s;
}

.film-description-small {
	color: white; 
	font-size: 16px;
	position: absolute;
	top: -200px;
	left: 150px;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: relative;
	z-index: 10;
	display: none;
	opacity: 0;
	transition: all 0.5s ease;
	
}

.card_1:hover .film-description-small {
	display: block;
	opacity: 1;
	transition: all 0.5s ease;
}
.readmore {
	
                display: inline-block;
                outline: 0;
                border: 0;
                cursor: pointer;
                font-weight: 600;
                color: rgb(72, 76, 122);
                font-size: 14px;
                height: 38px;
				margin-top: 10px;
                padding: 8px 24px;
                border-radius: 50px;
                background-image: linear-gradient(180deg,#fff,#f5f5fa);
                box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
                transition: all .2s ease-out;
                :hover{
                    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
                }
                
}
.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/