.container {
	padding: 2% 4%;
	height: 95vh;
	align-items: center;
	justify-content: center;
	display: flex;
	align-items: center;
	justify-items: center;
}

.title {
	margin-top: 1rem;
	font-size: 2rem;
}

@keyframes Snurra1 {
	0% {
	  stroke-dashoffset: 0;
	}
	100% {
	  stroke-dashoffset: -403px;
	}
}

  