* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	background-color: gray;
}

a {
	color: #000;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 2% 2%;
	background-color: #f8f8f8;
	padding: 2% 4%;
	border-radius: 20px;
}

/* header */

.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 96%;
	z-index: 3;
	top: 0;
	margin: 0 2%;
	border-radius: 5px;
	left: 0;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}
  
.header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
}
  
.header li a:hover,
.header .menu-btn:hover {
	background-color: #f4f4f4;
}
  
.header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
}


/* menu */  
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

/* menu icon */ 
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}
  
.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}
  

  
/* 48em = 768px */
@media (min-width: 48em) {
	.header li {
	  float: left;
	}
	.header li a {
	  padding: 20px 30px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
}

h1 {
	font-size: 40px;
	text-align: center;
	margin: 3% 0;
}

.actor_listing {
	display: flex;
	font-size: 25px;
	background-color: #eee;
	transition: 0.5s;
	margin: 1% 0;
}
.actor_list .column {
	margin: 20px;
	
	
}
.image {
	margin: auto;
}
.actor_name {
	color: #333;
	font-size: 50px;
}
.actor_listing:hover {
	background-color: #ddd;
	transition: 1s;
}